

{% extends 'RioLujan/origen.html' %}
{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Cerrar Sesion</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
{% block muestra %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Te has deslogueado...</h1>
{% endblock %}

{% block botones %}

<a class="navbar-brand" href="{% url 'seleccionar' %}">Inicio</a>
<a class="navbar-brand" href="{% url 'iniciar_sesion' %}">Iniciar Ssesion</a>
<!-- poner que si inicie sesion aparezca mi nombre-->
{% endblock %}
