{% extends 'RioLujan/FormulariosPlantilla.html' %}
    {% block head%}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    {% endblock %}


    {% block formulario %}
    <div class="mb-3">
        <label for="lote" class="form-label">Lote - Parcela</label>
        {{ form.lote }}
    </div>
    <div class="mb-3">
        <label for="actualizacion" class="form-label">Fecha de Actualizacion</label>
        {{ form.actualizacion }}
    </div>
    <div class="mb-3">
        <label for="estado" class="form-label">Estado</label>
        {{ form.estado }}
    </div>
    <div class="mb-3">
        <label for="denominacion" class="form-label">Denominacion</label>
        {{ form.denominacion }}
    </div>
    <div class="mb-3">
        <label for="capacidad" class="form-label">Capacidad</label>
        {{ form.capacidad }}
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
{% endblock %}

