<!DOCTYPE html>
<html lang="es">
    {% load static %}
    
    <head>
    
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'RioLujan/css/styles.css' %}"rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .main-content {
                margin-top: 40px; /* Ajusta este valor según el alto de tu navbar */
            }
            .second-content {
                margin-top: 140px; /* Ajusta este valor según el alto de tu navbar */
            }
            
        </style>

        {% block head%}

        {% endblock %}
    
    </head>

    
        <!-- Navigation-->
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top fixed-top"> <!-- Agrega la clase fixed-top -->
            <div class="container-fluid"> <!-- Cambia container por container-fluid para que ocupe todo el ancho -->
                <div class="navbar-brand">
                    <img src="{% static 'RioLujan/assets/img/logo.png' %}" alt="Logo" style="width: 200px; height: auto;">
                    
                </div>
                
                {% if user.is_authenticated %}
                    <a class="btn btn-primary ml-auto">{{ request.user.username }}</a>
                {% else %}
                    <a class="btn btn-primary ml-auto" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
                {% endif %}
            </div>
            <p class="navbar-text">Obra Rio Rio Lujan</p> <!-- Agrega este elemento de párrafo -->
            
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
             </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto"> <!-- Alinea el menú desplegable a la derecha -->
                 <li class="nav-item active">
                    <a class="nav-link" href="seleccionar">Inicio</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="Estado_De_Aprobacion">Estado de Aprobacion</a>
                 </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Página 3</a>
                    </li>
                 </ul>
            </div>

            
        
        </nav>
    
    <body>
         
        <div class="container mx-auto text-left second-content">

            
            {% block botones %}
                {% endblock %}
            </div>

        
        <div class="container mx-auto text-center main-content"> <!-- Agrega las clases mx-auto, text-center y main-content -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" style="color: black;">Estado de Aprobación Actualizar</div>
                        <div class="card-body">
                            {% block formulario %}
        
                            {% endblock %}  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      
      


    </body>
    {% block debajomasthead %}
    {% endblock %}
</html>